<div class="col s2">
  <div class="sidebar">
    <nav class="transparent z-depth-0">
      <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/profile">Профиль</a></li>
        <li><a href="/settings">Настройки</a></li>
        <% if(user.role === 'USER') { %>
          <li><a href="/send-work">Отправить работу</a></li>
        <% } %>
      </ul>
    </nav>
  </div>
</div>