<div class="col s2">
  <div class="sidebar">
    <nav class="transparent z-depth-0">
      <ul>
        <li><a href="/">Главная</a></li>
        <% if(user.role !== 'EXPERT') { %>
          <li><a href="/profile">Профиль</a></li>
        <% } else { %>
          <li><a href="/admit">Допуск работ</a></li>
          <li><a href="/evaluate">Оценка работ</a></li>
        <% } %>
        <% if(user.role === 'USER') { %>
          <li><a href="/send-work">Отправить работу</a></li>
        <% } %>
        <% if(user.role === 'ADMIN') { %>
          <li><a href="/rating">Рейтинг</a></li>
        <% } %>
        <li><a href="/settings">Настройки</a></li>
      </ul>
    </nav>
  </div>
</div>