<!DOCTYPE html>
<html lang="ru">
  <%- include('partials/head', { title }) %>
  <body>
    <%- include('partials/navbar', { dark }) %>

    <div class="intro">
      <div class="container">
        <h1 class="intro__title">Конкурс по отбору лучших конкурсных работ на премию Губернатора Оренбургской области в сфере науки и техники</h1>
      </div>
    </div>

    <div class="organizer row light-blue lighten-5">
      <div class="container">
        <div class="col s4">
          <p class="organizer__caption grey-text">Организатор</p>
          <h5>
            <a class="indigo-text darken-4" href="https://minobr.orb.ru/" target="_blank">Министерство образования Оренбургской области</a>
          </h5>
        </div>
        <div class="col s8">
          <p>— орган исполнительной власти Оренбургской области, обеспечивающий управление системой образования Оренбургской области, включающий в себя расположенные на территории Оренбургской области органы, осуществляющие управление в сфере образования, и образовательные организации всех форм собственности, типов в рамках своей компетенции и имеющихся полномочий</p>
        </div>
      </div>
    </div>
  </body>
</html>