@import url('./_normalize.css');
@import url('./_reset.css');

:root {
  --dark-color: #171820;
  --accent-color: #ff004c;
  --pink-color: #ee6e73;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Arial, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.modal .row {
  margin-left: 0;
  margin-right: 0;
}

.title {
  margin-bottom: 40px;
}

.title--small {
  margin-bottom: 20px;
}

.nav.dark {
  background-color: var(--dark-color);
}

.intro {
  width: 100vw;
  min-height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  background: url('../images/bg.gif') center / cover no-repeat;
  padding-bottom: 25vh;
}

.intro input {
  color: inherit;
}

.intro__title {
  font-size: 50px;
}

.intro__subtitle {
  font-size: 32px;
}

.organizer {
  padding: 70px 0;
}

.organizer__caption {
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.profile .col {
  padding: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 16.6666666667%;
  height: 100vh;
  color: #fff;
  background-color: var(--dark-color);
  overflow-y: auto;
}

.btn,
.btn:hover,
.btn:active {
  background-color: var(--accent-color);
  transition: margin 0s;
}

.sidebar nav li {
  width: 100%;
}

.profile .collection-item {
  position: relative;
  padding-right: 40px;
}

.collection-actions {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.collection-actions li:not(:last-child) {
  margin-bottom: 5px;
}

.check__info,
.check__file,
.check__submit {
  margin: 20px 0;
}

.bg-dark {
  background-color: var(--dark-color);
}

.rating__table th,
.rating__table td {
  text-align: center;
}

.expert-profile p:not(:last-child) {
  margin-bottom: 5px;
}